<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SQLConnectionString" connectionString="server=livedb.c5vs7ws3kvno.eu-west-2.rds.amazonaws.com,1433;database=UAT;uid=MAINUSER;password=crz,3zp9;"/>
    <add name="FBConnectionString" connectionString="User=MAINUSER;Password=crz,3zp9;Database=D:\FirebirdData\Database\IANDF-Main2.FDB;DataSource=35.178.224.36;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=15;MaxPoolSize=400;Packet Size=8192;ServerType=0;" />
  </connectionStrings>
  <appSettings>
    <add key="RunFBSQL" value="FB"/>
    <!-- FB = Firebird, SQL = MS SQL  **** Please comment out all FB or MS SQL as appropriate*****-->
    <add key="EmailList" value="jeremy@investandfund.com"/>
    <add key="DailyReporterPW" value="Gum29329"/>
    <add key="DailyReporterUSR" value="dailyreporter@investandfund.com"/>
    <add key="ErrorPW" value="Zuv87992"/>
    <add key="ErrorUSR" value="error@investandfund.com"/>
    <!--
      <add key="EmailList" value="stephen@investandfund.com"/>
       -->
  </appSettings>
</configuration>